<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> <br/> Участники арт-группировки создают
          ироничные высказывания, которые
          объединяет сатирическая рефлексия
          над идеями постгуманизма, отвечая
          на сиюминутные тенденции и вторгаясь
          в сайенс арт. Каждый проект — это
          эксперимент, новые материалы и техники,
          а также новые области исследования.
          Ключевую роль в творчестве биороботов
          играет дискуссия: как внутри
          арт‐группы, так и между художником
          и профессиональным сообществом,
          автором и зрителем, наукой и искусством. </p>
      </div>
      <div class="col-lg-4">
        <p> <br/> The members of the art group create ironic
          statements united by a satirical reflection
          on the ideas of posthumanism, responding
          to momentary trends and invading science
          art. Each project is an experiment, new
          materials and techniques, as well as new
          areas of research. Discussion plays a key
          role in the work of biorobots: both within
          the art group and between the artists and
          the professional community, the author
          and the viewer, science and art. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://drive.google.com/file/d/14wepUt3zALqYtLcuT_gkXeVfvPUJqMJ3/view?usp=sharing" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Портфолио на русском
        </a>
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <a href="https://drive.google.com/file/d/1FJm3W0PWJhxnjOn_EzcI25RXh_xPWb6b/view?usp=sharing" class="btn btn-lg btn-outline">
        <i class="fa fa-download"></i> Portfolio in english
      </a>
    </div>
    </div>
  </div>
</section>
