<section id="contact">
  <div class="container" style="width:100%">
    <div class="row">
      <div class="col-lg-12 text-center contacts" style="padding-top: 2%">
        <h2>Contact</h2>
        <br>
        <p>Будем рады Вашему письмецу!</p>
      </div>
    </div>
    <div class="row justify-content-center contacts">
      <div class="col-lg-6 text-center">
        <h3>Email</h3>
        <p>bioroboty019@gmail.com</p>
        <br>
      </div>
      <div class="col-lg-6 text-center">
        <h3>Social Media</h3>
        <p>
          <a href="https://www.instagram.com/bioroboty019/" target="_blank">Instagram</a>
          <br>
          <a href="https://www.youtube.com/channel/UCppS7jkAGGNcPbS0BVEKEdw/featured" target="_blank">YouTube</a>
          <br>
          <a href="https://t.me/bioroboty019" target="_blank">Telegram</a>
        </p>
      </div>
    </div>
    <!-- Другие формы контакта или информация -->
  </div>
</section>
