<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid" style="width:100%">
    <div class="row">
      <img class="img-responsive" style="max-width:100%" src="img/band.jpg" alt="img/band.jpg" />
    </div>
    <!-- <div class="portfolio-flex-row">
      {% for post in site.posts %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        </a>
      </div>
      {% endfor %}
    </div> -->
  </div>
</section>
